@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Playball&family=Poppins:wght@400;600&display=swap");

.about-top {
  /* background-color: #fffcf8; */
  margin-top: 50px;
  height: 350px;
  /* border: 10px solid white; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.text-about {
  font-size: 80px;
  padding-top: 150px;
  font-family: "Playball", cursive;
}

.secondary-text {
  margin-top: 350px;
  /* border: 2px solid white; */
  /* align-items: center; */
  /* margin-left: 50px; */
}
